<h1 class="header">Edit your information</h1>

<div class="mm">
  <mat-card class="product-card">
    <h1 class="title-row">Supplier</h1>
    <div align="center">
      <img class="image" [src] ="profilesData.image">
    </div>
    <div class="row clean-row">
      <b>Supplier Name: </b> <input style="border-radius: 10px" type="text" name="supplierName" [(ngModel)]="profilesData.supplierName" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Name: </b> <input style="border-radius: 10px" type="text" name="name"[(ngModel)]="profilesData.name" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Last Name: </b> <input style="border-radius: 10px" type="text" name="last_name"[(ngModel)]="profilesData.lastName" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Image: </b> <input style="border-radius: 10px" type="text" name="image"[(ngModel)]="profilesData.image" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Email: </b> <input style="border-radius: 10px" type="text" name="email"[(ngModel)]="profilesData.email" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Address: </b> <input style="border-radius: 10px" type="text" name="address"[(ngModel)]="profilesData.address" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Password: </b> <input style="border-radius: 10px" type="text" name="password"[(ngModel)]="profilesData.password" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>RUC: </b> <input style="border-radius: 10px" type="text" name="ruc"[(ngModel)]="profilesData.ruc" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Category: </b> <input style="border-radius: 10px" type="text" name="category"[(ngModel)]="profilesData.category" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Description: </b> <input style="border-radius: 10px" type="text" name="description"[(ngModel)]="profilesData.description" class="form-control mb-3">
    </div>
    <div class="row clean-row">
      <b>Phone: </b> <input style="border-radius: 10px" type="text" name="phone"[(ngModel)]="profilesData.phone" class="form-control mb-3">
    </div>
    <div mat-dialog-actions align="center">
      <button mat-raised-button class="but" (click)="updateProfile()" [routerLink]= "['/supplier-profile',id]">Save</button>
    </div>
    <br>
  </mat-card>
</div>

<div align="center">
  <div class="example-button-container">
    <button mat-mini-fab class="back-button" aria-label="Back icon button" [routerLink]="['/supplier-profile', id]">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>
