
.product-card {
  max-width: 300px;
  background-color: #DCE4FC;
  color: black;
}

.mt-5 {
  margin-top: 3rem !important;
}
.profile{
  height: 200px;
  width: 200px;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

.img-products {
  height: 200px;
  object-fit: cover;
}

.example-button-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 120px;
}

.back-button {
  background-color: #DCE4FC;
  text-align: center;
}


