<div class="container">
  <img src="https://thumbs.dreamstime.com/b/imagen-de-fondo-textura-del-contenedor-azul-oscuro-y-claro-143601959.jpg" alt="banner">
<div class="slogan">
  <h1>UrProvider</h1>
  <h2>Our role is to be an ally of the channel, offering value
    to each member of the supply chain through
    the technology.</h2>
</div>

</div>
<h1>Favorite Providers:</h1>
  <div  class="container2">
<div *ngFor="let supplier of supplierData">
    <a style="text-decoration: none" routerLink="ssprofile/{{supplier.id}}">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="game-name">{{supplier.supplierName}}</mat-card-title>
          <mat-card-subtitle>{{supplier.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{supplier.image}}" alt="Photo of supplier">
      </mat-card>
    </a>
</div>
  </div>
