#app{
  background: #DCE4FC;
  color: black;
  border-bottom: black solid 3px;
}
.mat-spacer {
  flex: 1 1 auto;
}
.slogan {
  position: absolute;
  top: 28%;
  left: 30%;
  transform: translate(-40%, -20%);
  font-family: "Bebas Neue", cursive;
  font-size: 4vw;
}
