<div class="container">
  <img src="assets/img/cajas.jpg" alt="cajas">
  <div class="slogan" >
    <h1>Hello {{storeData.name}} {{storeData.lastName}}</h1>
    <h2>We are happy to continue working with {{storeData.storeName}}</h2>
  </div>

</div>
<h1>Favorite Providers:</h1>
<div  class="container2">
  <div *ngFor="let supplier of supplierData">
    <a style="text-decoration: none" [routerLink]="['/store-providers-profile',supplier.id]">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="game-name">{{supplier.supplierName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{supplier.image}}" alt="Photo of supplier">
      </mat-card>
    </a>
  </div>
</div>
