.mat-card img {
  display: flex;
  object-fit: cover;
  height: 140px;
  width: 160px;
  margin-left: 20px;
  border-radius: 15px;
}

.search {
  width: 100%;
}
.content {
 height: 140px;
  width: 100%;

}

.menu, .logo {
  width: 40%;
}
.menu {
  float: right;
}
.logo {
  float: right;
}
.homecard {
  overflow:auto;
  padding-top: calc(10rem - 4.5rem);
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(10, 86, 140, 0.5) 0%,
  rgba(10, 86, 140, 0.5) 100%), url("https://business-intelligence.grupobit.net/hubfs/Imagen_BlogBIT_1600x478px_300719.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.container{
  display: inline-block;
  text-align: left;
}



mat-card{
  border: black solid 3px;
}

mat-card-header{
  border: black solid 3px;
}

.example-card {
  color: black;
  background-color: transparent;
  box-shadow: none;
  margin-left: 10px;
  width: 200px;
}

.flex {
  display: flex;
  justify-content: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.game-name {
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  margin-top:1rem
}

.img-home {
  object-fit: cover;
}
