<mat-card class="homecard">
  <mat-card-content>
    <div id="content">
      <div class="logo">
        <img src="{{storeData.image}}" alt="">
      </div>

      <div class="menu">
        <h1>Hello {{storeData.name}} {{storeData.lastName}}</h1>
        <p>We are happy to continue working with <b>{{storeData.storeName}}</b></p>
      </div>
    </div>

  </mat-card-content>
</mat-card>
<h1>Favorite Products:</h1>
<app-products-search></app-products-search>
<h1>Favorite Providers:</h1>
<app-suppliers-search></app-suppliers-search>


