.image-provider {
  max-width: 300px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.star{
  margin: 0px 0px  ;
  color: #a9a5a5;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
}

.mat-icon{
  width:60px;
  height: 60px;
}
.star-gold{
  color: orange;
}
.star-rating-animation:hover .star-hover{
  color: orange;
}

.star-rating-animation .star-hover:hover ~ .star-hover{
  color: #ddd;
}
.star-rating-animation .star-hover:hover{
  transform: scale(1.3);
}
.container1 {
  position: relative;
  width: 100%;

}
.container1 img{
  border: black solid 3px;
}
.side {
  width: 50%;
  height: 100%;

}
.left{
  height: 100%;
}
.right{
  height: 100%;
  right: 100px;
  top: 60px;
  position: absolute;
}
.container2 {
  position:relative;
  height: 100px;
  width: 100%;

}



.left2 {

  height: 100%;
}

.right2 {

  position: absolute;
  height: 100%;
  right: 0px;
  top: 0px;

}
.center{
  top: 30%;
  left: 50%;
  position: absolute;

}
button{
  height: 70px;
  width: 300px;
  border-radius: 13px;
}

.comments{
  width: 50%;
  position: relative;

}
mat-paginator{

  position: absolute;
  width: 200%;
  background: #DCE4FC;
}
