<mat-card class="homecard">
  <mat-card-content>
    <h1>Hello {{ supplierData.name }} {{ supplierData.lastName }}</h1>
    <p>We are happy to continue working with you <b>{{ supplierData.supplierName }}</b></p>
  </mat-card-content>
</mat-card>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div>
      <h1 class="text-center">My Clients</h1>
      <mat-card *ngFor="let store of stores" class="store-card">
        <mat-card-title-group>
          <mat-card-title>{{ store.storeName }}</mat-card-title>
          <mat-card-subtitle>{{ store.name }} {{ store.lastName }}</mat-card-subtitle>
          <img mat-card-sm-image [src]="store.image">
        </mat-card-title-group>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <h1 class="text-center">Orders</h1>
    </div>
  </mat-grid-tile>
</mat-grid-list>

